${disk}
cd ${outputDirectory}
mkdir Arrowhead_core_systems
mkdir Executables_core_systems
cd Arrowhead_core_systems
git clone https://github.com/eclipse-arrowhead/core-java-spring.git 
cd core-java-spring 
mvn clean install  ${skipTest}
copy serviceregistry\target\arrowhead-serviceregistry-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy authorization\target\arrowhead-authorization-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy orchestrator\target\arrowhead-orchestrator-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy certificate-authority\target\arrowhead-certificate-authority-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy choreographer\target\arrowhead-choreographer-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy datamanager\target\arrowhead-datamanager-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy deviceregistry\target\arrowhead-deviceregistry-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy eventhandler\target\arrowhead-eventhandler-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy gatekeeper\target\arrowhead-gatekeeper-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy gateway\target\arrowhead-gateway-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy onboarding\target\arrowhead-onboarding-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy systemregistry\target\arrowhead-systemregistry-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy translator\target\arrowhead-translator-4.3.0.jar ${outputDirectory}\Executables_core_systems
copy D:\SysMLPlugins\Scripts\CoreSystems\StartMandatoryCoreSystems.bat ${outputDirectory}\Executables_core_systems
PAUSE