cd ${outputDirectory}
mkdir Arrowhead_core_systems
mkdir Executables_core_systems
cd Arrowhead_core_systems
git clone https://github.com/eclipse-arrowhead/core-java-spring.git 
cd core-java-spring
#mvn clean install
cp serviceregistry\target\arrowhead-serviceregistry-4.3.0.jar ${outputDirectory}\Executables_core_systems
cp authorization\target\arrowhead-authorization-4.3.0.jar ${outputDirectory}\Executables_core_systems
cp orchestrator\target\arrowhead-orchestrator-4.3.0.jar ${outputDirectory}\Executables_core_systems
cp D:\SysMLPlugins\Scripts\CoreSystems\StartCoreSystems.bat ${outputDirectory}\Executables_core_systems
PAUSE