<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="eu.arrowhead.skelettons.deployment.commands.category"
            name="skelettons Category">
      </category>
      <command
            categoryId="eu.arrowhead.skelettons.deployment.commands.category"
            name="Deploy App. System skeletons"
            id="eu.arrowhead.skelettons.deployment.commands.skelettonsCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.arrowhead.skelettons.deployment.handlers.Generation"
            commandId="eu.arrowhead.skelettons.deployment.commands.skelettonsCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.arrowhead.skelettons.deployment.commands.skelettonsCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="eu.arrowhead.coreSystems.deployment.menus.sampleMenu"
               label="Arrowhead"
               mnemonic="M">
            <command
                  commandId="eu.arrowhead.skelettons.deployment.commands.skelettonsCommand"
                  id="eu.arrowhead.skelettons.deployment.menus.skelettonsCommand"
                  mnemonic="A">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eu.arrowhead.skelettons.deployment.toolbars.sampleToolbar">
            <command
                  id="eu.arrowhead.skelettons.deployment.toolbars.skelettonsCommand"
                  commandId="eu.arrowhead.skelettons.deployment.commands.skelettonsCommand"
                  icon="icons/a.png"
                  tooltip="Skeletons deployment">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
