${disk}
cd \
git clone https://github.com/eclipse-arrowhead/core-java-spring.git 
cd core-java-spring 
CALL mvn clean install ${skipTest}

cd ${outputDirectory}
mkdir arrowhead
cd arrowhead
mkdir core-systems
mkdir support-systems
cd core-systems

copy ${disk}\core-java-spring\serviceregistry\target\arrowhead-serviceregistry-4.4.1.jar .
copy ${disk}\core-java-spring\authorization\target\arrowhead-authorization-4.4.1.jar .
copy ${disk}\core-java-spring\orchestrator\target\arrowhead-orchestrator-4.4.1.jar .
copy ${workSpace}\.temp\startCoreSystems.bat .

cd ..\support-systems

copy ${disk}\core-java-spring\certificate-authority\target\arrowhead-certificate-authority-4.4.1.jar .
copy ${disk}\core-java-spring\choreographer\target\arrowhead-choreographer-4.4.1.jar .
copy ${disk}\core-java-spring\datamanager\target\arrowhead-datamanager-4.4.1.jar .
copy ${disk}\core-java-spring\deviceregistry\target\arrowhead-deviceregistry-4.4.1.jar .
copy ${disk}\core-java-spring\eventhandler\target\arrowhead-eventhandler-4.4.1.jar .
copy ${disk}\core-java-spring\gatekeeper\target\arrowhead-gatekeeper-4.4.1.jar .
copy ${disk}\core-java-spring\gateway\target\arrowhead-gateway-4.4.1.jar .
copy ${disk}\core-java-spring\onboarding\target\arrowhead-onboarding-4.4.1.jar .
copy ${disk}\core-java-spring\systemregistry\target\arrowhead-systemregistry-4.4.1.jar .
copy ${disk}\core-java-spring\translator\target\arrowhead-translator-4.4.1.jar .

rmdir ${disk}\core-java-spring /S /Q
rmdir ${workSpace}\.temp\ /S /Q
PAUSE