${disk}
cd \
git clone https://github.com/CristinaPaniagua/MinimalLocalCloud.git
cd MinimalLocalCloud
CALL mvn clean install ${skipTest}

cd ${outputDirectory}
mkdir arrowhead
cd arrowhead
mkdir core-systems
cd core-systems

copy ${disk}\MinimalLocalCloud\serviceregistry\target\arrowhead-serviceregistry-4.4.1.jar .
copy ${disk}\MinimalLocalCloud\authorization\target\arrowhead-authorization-4.4.1.jar .
copy ${disk}\MinimalLocalCloud\orchestrator\target\arrowhead-orchestrator-4.4.1.jar .
copy ${workSpace}\.temp\startCoreSystems.bat .

rmdir ${disk}\MinimalLocalCloud /S /Q
rmdir ${workSpace}\.temp\ /S /Q
PAUSE