%systemroot%\System32\xcopy  D:\SysMLPlugins\Code\eu.arrowhead.skelettons.deployment\src\resources\consumer ${outputDirectory}\\${name}_ApplicationSystems\\${sysName}_Consumer /e
D:
cd ${outputDirectory}\\${name}_ApplicationSystems\\${sysName}_Consumer\src\main\java\eu\arrowhead
mkdir ${sysName}_Consumer
